extends admin
 
block content
  link(rel='stylesheet', href='/dist/particles.css') 
  .container
  .bubble-wrap
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble
    .bubble

